@import "../../../../../configs/css-configuration.scss";

.ui-input {
  font-family: Arial, sans-serif;

  input, textarea {
    background-color: #4e4e4e;
    width: 100%;
    min-height: 35px;
    outline: none !important;
    color: $white !important;
    font-size: 14px;
    padding: 9px 12px;
    line-height: normal;
    border-radius: 2px;
    font-weight: normal;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, 0.07);
    &:focus {
      border:1px solid #eb7374 !important;
    }
    &:-webkit-autofill {
      background-color: #464646 !important;
      border-color: transparent !important;
    }
  }
  input:-webkit-autofill {
    background-color: #464646 !important;
    border-color: transparent !important;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border:1px solid #eb7374 !important;
    -webkit-text-fill-color: $white !important;
    background-color: #4e4e4e;
    -webkit-box-shadow: none !important;
    transition: background-color 5000s ease-in-out 0s;
  }

  *::-webkit-input-placeholder { /* Chrome */
    color: $white;
    opacity: 0.3;
  }
  *:-ms-input-placeholder { /* IE 10+ */
    color: $white;
    opacity: 0.3;
  }
  *::-moz-placeholder { /* Firefox 19+ */
    color: $white;
    opacity: 0.3;
  }
  *:-moz-placeholder { /* Firefox 4 - 18 */
    color: $white;
    opacity: 0.3;
  }
}