@import "../../../../configs/css-configuration.scss";

.reject-sign {
  position: absolute;
  z-index: 1;
  color: #ffffff;
  left: 10px;
  bottom: 10px;
  font-size: 10px;
  border-radius: 50%;
  text-align: justify;
  background-color: #ffffff;
  height: 22px;
  width: 22px;
  font-family: "Montserrat";
  font-weight: 400;
  span {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    p, svg {
      text-align: center;
      width: 100%;
    }
    .reject-icon {
      padding: 0;
      line-height: 17px;
      margin: 0;
      svg {
        width: 20px !important;
        height: 20px !important;
        min-width: 100% !important;
      }
    }
    svg {
      width: 15px;
      height: 15px;
      min-width: 100% !important;
    }
  }
}