@import "../../../../../configs/css-configuration.scss";

.header-dialog {
  .close-popup {
    position: absolute;
    right: 12px;
    top: 25px;
    font-size: 16px;
    width: 30px;
    text-align: center;
    opacity: 1.8;
    color: $default-text-color;
  }
}

.dialog-content-padding0 {
  padding: 0 !important;
}

.no-header-dialog {

  .close-popup {
    position: absolute;
    right: -12px;
    top: -15px;
    font-size: 20px;
    border: 1px solid #505050;
    border-radius: 50%;
    width: 30px;
    text-align: center;
    background: #505050;
    opacity: 1.8;
    color: $white;
  }
}


