@import "../../../../../configs/css-configuration.scss";

.drawable-component {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  background-color: #353535;
position: relative;
  .reject-sign {
    position: absolute;
    z-index: 1;
    color: #ffffff;
    left: 10px !important;
    top: 10px !important;
    font-size: 10px;
    border-radius: 50%;
    text-align: justify;
    background-color: #ffffff;
    height: 22px;
    width: 22px;
    font-family: "Montserrat";
    font-weight: 400;
    span {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      text-align: center;
      p {
        text-align: center;
        width: 100%;
      }
    }
  }

  .clear-marking {
    transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
    color: #a1a1a1;
    display: block;
    text-align: right;
    padding-top: 6px;
    &:hover {
      color: #818181;
    }
  }
  &.loading-panel {
    min-height: 200px;
    text-align: center;
    align-items: center;
    width: 100%;
    display: flex;
    .loading-subpanel {
      width: 100%;
    }

  }
  .loading {
    width: 40px !important;
  }
  a, a:focus, a:hover, a:active {
    outline: 0 !important;
    text-decoration: none;
  }
}