@import "../../../../configs/css-configuration.scss";

.my-modal {
  position: fixed;
  width: calc(100%);
  height: calc(100%);
  z-index: 999999999999999;
  top: 0;
  left: 0;

  .overlay {
    position: fixed;
    width: calc(100%);
    height: calc(100%);
    z-index: 999999999;
    background: #111111;
    top: 0;
    left: 0;
    opacity: 0.2;
    transition: opacity 0.15s linear !important;
  }
  .dialog-modal {
    position: absolute;
    width: 100%;
    z-index: 9999999999;
    width: calc(100%);
    height: calc(100%);
    transition: all 0.8s;
    .dialog-content {
      position: fixed;

      top: 0;
      left: 0;
      width: 100%;
      .body {
        max-width: 600px;
        margin: 0 auto;
        background: #ffffff;
        position: relative;
        opacity: 1;
        .close-popup {
          cursor: pointer;
          position: absolute;
          right: 19px;
          top: 25px;
          font-size: 12px;
          width: 30px;
          text-align: center;
          opacity: 0.2;
          color: #111111;
          &:hover {
            opacity: 0.6;
          }
        }
        .ui-header {
          padding: 28px 26px 0 26px;
          font-size: 25px;
          margin-bottom: 20px;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-family: 'Montserrat';
          color: #2f2f2f;
        }

        .ui-content {
          padding: 0px 26px 15px 26px;
          p {
            font-size: 13px;
            letter-spacing: normal;
            line-height: 15px;
          }
        }

        .modal-footer {
          border-top: none;
          box-shadow: none;
          margin-top: 0;
          padding: 0px 26px 25px 26px;
        }
        .btn-primary, .btn-primary:focus {
          color: #fff;
          min-width: 120px;
          background-color: #ff6b6b;
          border-color: #ff6b6b;
          padding: 6px 17px;
        }
      }
    }
  }

}