$maxWidth: 496px;
@import "../../../../configs/css-configuration.scss";
@media all and (max-width: 600px) {
  .ui-login-page {
    .ui-panel {
      margin: 0 !important;
      text-align: center;
      width: 100% !important;
      left: 0;
      padding: 0 35px;
    }
    span.header {
      text-align: left;
    }
  }
}

.ui-login-page {
  position: relative;
  max-width: $maxWidth;
  color: #ffffff;
  .ui-login-fail {
    color: red;
    font-size: 13px;
    font-style: italic;
  }
  .ui-bg {
    position: absolute;
    content: '';
    width: 100%;

    height: 100%;
    top: 0;
    left: 0;
    background: #000000;
    opacity: 0.6;
    z-index: 1;
  }
  .ui-panel {
    position: absolute;
    content: '';
    text-align: left;
    //margin: 70px 30px 0 80px;
    padding-top: 10px;
    width: calc(100% - 140px);
    height: 100%;
    z-index: 2;
    .brand {
      width: auto;
      color: #fff !important;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 700;
      font-family: 'Montserrat';
    }
  }
  span.header {
    display: block;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 22px;
    margin: 0px 0px 10px 0px;
    font-style: normal;
    white-space: normal;
  }
  .text-normal {
    text-transform: none;
    font-size: 13px;
    font-weight: normal;
    label {
      text-transform: none;
    }
  }
  .item-panel {
    margin-top: 20px;
  }

  .button {
    margin-right: 5px;
    min-width: 120px;
    box-shadow: none;
    line-height: 31px;
    padding-left: 17px;
    padding-right: 17px;
    text-transform: none;
    //background-color: #ff6b6b;
    //border-color: #ff6b6b;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.01em;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-image: none !important;
    color: #fff;
    text-shadow: none;
    box-shadow: none;
    line-height: 31px;
    position: relative;

    &:hover {
      color: #fff;
    }
  }
}

.bgClassName {
  opacity: 1;
  &:before {
    opacity: 1 !important;
    background-color: transparent !important;
  }
}

.ui-image-background {
  background-color: #585858;
}
