@import "../../../../configs/css-configuration.scss";

.ui-view-image {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  position: relative;

  background-color: $image-panel-bg;
  img {
    max-width: 100%;
    max-height: 100%;
  }

  .loading {
    color: $white;
  }
}

.draggable-panel {
  top:0;
}

.ui-view-image.highlight {
  box-shadow: 0 0 0 3px $border-highline; //#ff6b6b ;
}

.ui-view-image.small-highlight {
  box-shadow: 0 0 0 1.8px $border-highline; //#ff6b6b ;
}

.reject-sign {
  position: absolute;
  z-index: 1;
  color: #ffffff;
  left: 10px;
  bottom: 10px;
  font-size: 10px;
  border-radius: 50%;
  text-align: justify;
  background-color: #ffffff;
  height: 22px;
  width: 22px;
  font-family: "Montserrat";
  font-weight: 400;
  span {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    p {
      text-align: center;
      width: 100%;
    }
  }
}