.ui-custom-popover {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: -6px;
  top: 43px;
  border: none;
  border-radius: 3px;
  font-size: 13px;
  background: #ebebeb;
  min-width: 50px;
  z-index: 105;
  padding: 3px;

  .item {
    display: inline-block;
    line-height: 24px;

    a {
      line-height: 35px;
      color: #333;
      opacity: 0.5;
      padding: 0 19px;
      border-radius: 3px;
      text-align: left;
      display: block;
    }
    a:hover {
      opacity: 1;
    }
  }

  .item:first-child {
    padding-top: 9px;
  }
  .item:last-child {
    margin-top: 9px;
    background-color: #e0e0e0;
    a {
      padding: 3px 19px;
      width: 130px;
    }
  }
}

.ui-custom-popover:before {
  position: absolute;
  top: -6px;
  right: 16px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}