@import "../../../../../configs/css-configuration.scss";

.ui-pinput {
  background-color: #4e4e4e;
  margin-bottom: 10px;
  padding: 7px 12px 4px 12px;
  border-radius: 2px;
  cursor: text;
  outline: none !important;
  font-family: Arial, sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.07);
  transition: background-color 0.2s ease;
  &.on-focus, &.active-data, &:-webkit-autofill {
    label {
      opacity: 0.6;
    }
    input {
      opacity: 1;
    }
    border-color: transparent !important;
  }
  &.on-focus {
    background-color: #464646 !important;
    border-color: transparent !important;
  }
  label {
    background-color: transparent;
    width: 100%;
    text-transform: uppercase;
    font-family: $main-font-family;
    font-size: 11px;
    font-weight: 600;
    float: left;
    text-align: left;
    margin: 1px 0 0 0;
    opacity: 1;
    line-height: 20px;
    letter-spacing: 0.14px;
    i {
      color: #eb7374;
      font-size: 14px;
      font-weight: normal;
      vertical-align: middle;
    }
  }
  input, textarea {
    background-color: transparent;
    width: 100%;
    height: 20px;
    margin-top: -4px;
    border-color: transparent !important;
    outline: none !important;
    color: $white !important;
    font-size: 14px;
    font-weight: normal;
    vertical-align: middle;
    border: none;
    &:-webkit-autofill {
      background-color: #464646 !important;
      border-color: transparent !important;
    }
  }
  input:-webkit-autofill {
    background-color: #464646 !important;
    border-color: transparent !important;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: $white !important;
    background-color: #4e4e4e;
    -webkit-box-shadow: none !important;
    transition: background-color 5000s ease-in-out 0s;
  }

  *::-webkit-input-placeholder { /* Chrome */
    color: $white;
    opacity: 0.3;
  }
  *:-ms-input-placeholder { /* IE 10+ */
    color: $white;
    opacity: 0.3;
  }
  *::-moz-placeholder { /* Firefox 19+ */
    color: $white;
    opacity: 0.3;
  }
  *:-moz-placeholder { /* Firefox 4 - 18 */
    color: $white;
    opacity: 0.3;
  }
}