@import "../../../../../configs/css-configuration.scss";

.ui-pcheckbox {
  padding-left: 0px;
  display: block;
  position: relative;
  input {
    opacity: 0;
    width: 0;
    height: 0;
    display: none;
  }
  label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px !important;
    margin-right: 15px;
    transition: border 0.2s linear 0s, color 0.2s linear 0s;
    white-space: nowrap;
    //min-height: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400 !important;
    font-family: 'Montserrat' !important;
    font-size: 11px !important;
    &.isSelected {
      transition: border 0.2s linear 0s, color 0.2s linear 0s;
      &:before {
        border: 8.5px solid #eb7374;
        transition: border 0.2s linear 0s, color 0.2s linear 0s;
      }
      &.light:before {
        border: 8.5px solid #d0d0d0;
      }
      &:after {
        content: "\F00C";
        top:0px;
        transition: border 0.2s linear 0s, color 0.2s linear 0s;
      }

    }
    &:before {
      top: -1px;
      border-radius: 3px;
      transition: border 0.2s linear 0s, color 0.2s linear 0s;
      content: "";
      border: 0px solid #ffffff;
      display: inline-block;
      margin-right: 10px;
      position: absolute;
      left: 0px;
      background-color: #fff;

      width: 17px;
      height: 17px;
    }
    &.light:after {
      color: gray;
    }
    &:after {
      font-family: 'FontAwesome';
      color: #fff;
      content: '';
      border: 0px solid #ffffff;
      display: inline-block;
      width: 16px;
      height: 16px;
      position: absolute;
      left: 3px;
      top: 2px;
      font-size: 11px;
      transition: border 0.2s linear 0s, color 0.2s linear 0s;
    }
  }
}