@import "../../../../configs/css-configuration.scss";

.ui-body-panel {
  .header {
    color: $white;
    font-size: 22px;
    line-height: 32px;
    background-color: #4c4c4c;
    padding: 10px $margin-panel-left;
  }
  .content {
    padding: 35px 15px;
  }
}