@import "../../../../configs/css-configuration.scss";

.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
  table.pixelz {
    border: none;
    table-layout: fixed;
    margin-top: 5px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: transparent;
    thead {
      &.title-style1 {
        tr {
          th {
            color: rgba(44, 44, 44, 0.35);
          }
        }
      }
      tr {
        th {
          color: #171717;
          text-transform: uppercase;
          font-family: 'Montserrat';
          font-weight: 600;
          font-size: 13px;
          padding-top: 14px;
          padding-bottom: 14px;
          vertical-align: middle;
          border-bottom: 1px solid rgba(230, 230, 230, 0.7);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-left: 18px !important;
          &:last-child {
            text-align: right;
            padding-right: 30px !important;
          }
        }
      }

    }
    tbody {
      tr {
        &:hover {
          td {
            background: #e1f0fd !important;
          }
        }
        &.selected {
          &:hover{
            td {
              background: #fef8e1 !important;
            }
          }
        }
        td {
          color: #333;
          white-space: nowrap;
          vertical-align: middle;
          overflow: hidden;
          text-overflow: ellipsis;
          background: #fff;
          border-bottom: 1px solid rgba(230, 230, 230, 0.7);
          border-top: 0px;
          padding: 12px 20px;
          font-size: 13.5px;
          &:hover {
            cursor: pointer;
          }
          &.font-bold {
            font-weight: 500 !important;
          }
          &:last-child {
            text-align: right;
          }
          &:first-child {
            &:before {
              content: "\f054";
              display: inline-block;
              margin-right: 8px;
              font-family: 'FontAwesome';
            }

          }
        }
      }
    }

  }
}