@import "../../../../configs/css-configuration.scss";

.ui-panel-p {
  padding: 0px 25px 25px 25px;
  color: $white;
  background: #585858;
  .header {
    background: transparent;
    border-radius: 0px;
    border-bottom: 0px;
    padding: 13px 15px 3px 0px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-size: 12px;
    font-weight: 600;

  }
}