.button-default {
  background-color: #eb7374;
  border: 1px solid #eb7374;
  margin-right: 5px;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  padding: 6px 20px;
  position: relative;
  border-radius: 3px;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
  line-height: 20px;
  color: #ffffff;
}

.react-draggable {
  position: absolute !important;
  z-index: 999999999;
  cursor: all-scroll;
}

.select-content {
  -moz-user-select: all;     /* Firefox all */
  -ms-user-select: all;      /* IE 10+ */
  user-select: all;          /* Likely future */
}
[class^="icon-"], [class*=" icon-"] {
  height: 32px;
  width: 32px;
  display: inline-block;
  fill: #ffffff;
}
.disabled {
  cursor: not-allowed !important;
}

//.upper-canvas, .lower-canvas {
//  width: 100% !important;
//  height: 100% !important;
//}
a {
  text-decoration: none;
  display: inline-block;
}
a:hover{
  text-decoration: none;
}

/* line 181, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-t-5 {
  padding-top: 5px; }

/* line 184, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-r-5 {
  padding-right: 5px; }

/* line 187, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-l-5 {
  padding-left: 5px; }

/* line 190, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-b-5 {
  padding-bottom: 5px; }

/* line 193, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.padding-5 {
  padding: 5px; }

/* line 181, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-t-10 {
  padding-top: 10px; }

/* line 184, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-r-10 {
  padding-right: 10px; }

/* line 187, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-l-10 {
  padding-left: 10px; }

/* line 190, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-b-10 {
  padding-bottom: 10px; }

/* line 193, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.padding-10 {
  padding: 10px; }

/* line 181, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-t-15 {
  padding-top: 15px; }

/* line 184, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-r-15 {
  padding-right: 15px; }

/* line 187, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-l-15 {
  padding-left: 15px; }

/* line 190, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-b-15 {
  padding-bottom: 15px; }

/* line 193, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.padding-15 {
  padding: 15px; }

/* line 181, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-t-20 {
  padding-top: 20px; }

/* line 184, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-r-20 {
  padding-right: 20px; }

/* line 187, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-l-20 {
  padding-left: 20px; }

/* line 190, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-b-20 {
  padding-bottom: 20px; }

/* line 193, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.padding-20 {
  padding: 20px; }

/* line 181, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-t-25 {
  padding-top: 25px; }

/* line 184, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-r-25 {
  padding-right: 25px; }

/* line 187, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-l-25 {
  padding-left: 25px; }

/* line 190, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-b-25 {
  padding-bottom: 25px; }

/* line 193, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.padding-25 {
  padding: 25px; }

/* line 181, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-t-30 {
  padding-top: 30px; }

/* line 184, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-r-30 {
  padding-right: 30px; }

/* line 187, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-l-30 {
  padding-left: 30px; }

/* line 190, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-b-30 {
  padding-bottom: 30px; }

/* line 193, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.padding-30 {
  padding: 30px; }

/* line 181, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-t-35 {
  padding-top: 35px; }

/* line 184, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-r-35 {
  padding-right: 35px; }

/* line 187, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-l-35 {
  padding-left: 35px; }

/* line 190, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-b-35 {
  padding-bottom: 35px; }

/* line 193, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.padding-35 {
  padding: 35px; }

/* line 181, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-t-40 {
  padding-top: 40px; }

/* line 184, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-r-40 {
  padding-right: 40px; }

/* line 187, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-l-40 {
  padding-left: 40px; }

/* line 190, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-b-40 {
  padding-bottom: 40px; }

/* line 193, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.padding-40 {
  padding: 40px; }

/* line 181, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-t-45 {
  padding-top: 45px; }

/* line 184, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-r-45 {
  padding-right: 45px; }

/* line 187, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-l-45 {
  padding-left: 45px; }

/* line 190, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-b-45 {
  padding-bottom: 45px; }

/* line 193, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.padding-45 {
  padding: 45px; }

/* line 181, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-t-50 {
  padding-top: 50px; }

/* line 184, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-r-50 {
  padding-right: 50px; }

/* line 187, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-l-50 {
  padding-left: 50px; }

/* line 190, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-b-50 {
  padding-bottom: 50px; }

/* line 193, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.padding-50 {
  padding: 50px; }

/* line 181, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-t-55 {
  padding-top: 55px; }

/* line 184, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-r-55 {
  padding-right: 55px; }

/* line 187, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-l-55 {
  padding-left: 55px; }

/* line 190, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-b-55 {
  padding-bottom: 55px; }

/* line 193, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.padding-55 {
  padding: 55px; }

/* line 181, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-t-60 {
  padding-top: 60px; }

/* line 184, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-r-60 {
  padding-right: 60px; }

/* line 187, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-l-60 {
  padding-left: 60px; }

/* line 190, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-b-60 {
  padding-bottom: 60px; }

/* line 193, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.padding-60 {
  padding: 60px; }

/* line 181, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-t-65 {
  padding-top: 65px; }

/* line 184, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-r-65 {
  padding-right: 65px; }

/* line 187, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-l-65 {
  padding-left: 65px; }

/* line 190, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-b-65 {
  padding-bottom: 65px; }

/* line 193, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.padding-65 {
  padding: 65px; }

/* line 181, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-t-70 {
  padding-top: 70px; }

/* line 184, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-r-70 {
  padding-right: 70px; }

/* line 187, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-l-70 {
  padding-left: 70px; }

/* line 190, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-b-70 {
  padding-bottom: 70px; }

/* line 193, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.padding-70 {
  padding: 70px; }

/* line 181, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-t-75 {
  padding-top: 75px; }

/* line 184, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-r-75 {
  padding-right: 75px; }

/* line 187, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-l-75 {
  padding-left: 75px; }

/* line 190, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-b-75 {
  padding-bottom: 75px; }

/* line 193, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.padding-75 {
  padding: 75px; }

/* line 181, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-t-80 {
  padding-top: 80px; }

/* line 184, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-r-80 {
  padding-right: 80px; }

/* line 187, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-l-80 {
  padding-left: 80px; }

/* line 190, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-b-80 {
  padding-bottom: 80px; }

/* line 193, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.padding-80 {
  padding: 80px; }

/* line 181, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-t-85 {
  padding-top: 85px; }

/* line 184, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-r-85 {
  padding-right: 85px; }

/* line 187, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-l-85 {
  padding-left: 85px; }

/* line 190, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.p-b-85 {
  padding-bottom: 85px; }

/* line 193, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.padding-85 {
  padding: 85px; }

/* line 201, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-t-5 {
  margin-top: 5px; }

/* line 204, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-r-5 {
  margin-right: 5px; }

/* line 207, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-l-5 {
  margin-left: 5px; }

/* line 210, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-b-5 {
  margin-bottom: 5px; }

/* line 201, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-t-10 {
  margin-top: 10px; }

/* line 204, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-r-10 {
  margin-right: 10px; }

/* line 207, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-l-10 {
  margin-left: 10px; }

/* line 210, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-b-10 {
  margin-bottom: 10px; }

/* line 201, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-t-15 {
  margin-top: 15px; }

/* line 204, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-r-15 {
  margin-right: 15px; }

/* line 207, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-l-15 {
  margin-left: 15px; }

/* line 210, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-b-15 {
  margin-bottom: 15px; }

/* line 201, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-t-20 {
  margin-top: 20px; }

/* line 204, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-r-20 {
  margin-right: 20px; }

/* line 207, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-l-20 {
  margin-left: 20px; }

/* line 210, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-b-20 {
  margin-bottom: 20px; }

/* line 201, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-t-25 {
  margin-top: 25px; }

/* line 204, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-r-25 {
  margin-right: 25px; }

/* line 207, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-l-25 {
  margin-left: 25px; }

/* line 210, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-b-25 {
  margin-bottom: 25px; }

/* line 201, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-t-30 {
  margin-top: 30px; }

/* line 204, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-r-30 {
  margin-right: 30px; }

/* line 207, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-l-30 {
  margin-left: 30px; }

/* line 210, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-b-30 {
  margin-bottom: 30px; }

/* line 201, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-t-35 {
  margin-top: 35px; }

/* line 204, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-r-35 {
  margin-right: 35px; }

/* line 207, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-l-35 {
  margin-left: 35px; }

/* line 210, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-b-35 {
  margin-bottom: 35px; }

/* line 201, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-t-40 {
  margin-top: 40px; }

/* line 204, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-r-40 {
  margin-right: 40px; }

/* line 207, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-l-40 {
  margin-left: 40px; }

/* line 210, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-b-40 {
  margin-bottom: 40px; }

/* line 201, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-t-45 {
  margin-top: 45px; }

/* line 204, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-r-45 {
  margin-right: 45px; }

/* line 207, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-l-45 {
  margin-left: 45px; }

/* line 210, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-b-45 {
  margin-bottom: 45px; }

/* line 201, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-t-50 {
  margin-top: 50px; }

/* line 204, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-r-50 {
  margin-right: 50px; }

/* line 207, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-l-50 {
  margin-left: 50px; }

/* line 210, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-b-50 {
  margin-bottom: 50px; }

/* line 201, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-t-55 {
  margin-top: 55px; }

/* line 204, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-r-55 {
  margin-right: 55px; }

/* line 207, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-l-55 {
  margin-left: 55px; }

/* line 210, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-b-55 {
  margin-bottom: 55px; }

/* line 201, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-t-60 {
  margin-top: 60px; }

/* line 204, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-r-60 {
  margin-right: 60px; }

/* line 207, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-l-60 {
  margin-left: 60px; }

/* line 210, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-b-60 {
  margin-bottom: 60px; }

/* line 201, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-t-65 {
  margin-top: 65px; }

/* line 204, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-r-65 {
  margin-right: 65px; }

/* line 207, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-l-65 {
  margin-left: 65px; }

/* line 210, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-b-65 {
  margin-bottom: 65px; }

/* line 201, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-t-70 {
  margin-top: 70px; }

/* line 204, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-r-70 {
  margin-right: 70px; }

/* line 207, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-l-70 {
  margin-left: 70px; }

/* line 210, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-b-70 {
  margin-bottom: 70px; }

/* line 201, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-t-75 {
  margin-top: 75px; }

/* line 204, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-r-75 {
  margin-right: 75px; }

/* line 207, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-l-75 {
  margin-left: 75px; }

/* line 210, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-b-75 {
  margin-bottom: 75px; }

/* line 201, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-t-80 {
  margin-top: 80px; }

/* line 204, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-r-80 {
  margin-right: 80px; }

/* line 207, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-l-80 {
  margin-left: 80px; }

/* line 210, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-b-80 {
  margin-bottom: 80px; }

/* line 201, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-t-85 {
  margin-top: 85px; }

/* line 204, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-r-85 {
  margin-right: 85px; }

/* line 207, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-l-85 {
  margin-left: 85px; }

/* line 210, /Users/tejs/Documents/Github/Pixelz-PhotoPortal/source/stylesheets/modules/_misc.scss */
.m-b-85 {
  margin-bottom: 85px; }
.snackbar-zindex{
  z-index: 999999!important;
}