@import "../../../../configs/css-configuration.scss";

@media all and (max-width: 600px) {
  .ui-pagination-shortest {
    a {
      span {
        display: none;
      }
    }
    .btn {
      padding: 6px !important;
    }
  }
}

.ui-pagination-shortest {
  .total {
    color: $white;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
  input:focus {
    outline: none !important;
    border-color: #696969;
    box-shadow: none;
  }
  input {
    border-radius: 2px;
    font-size: 14px;
    width: 45px;
    display: inline-block;
    border: 1px solid #696969;
    text-align: center;
    padding: 5px 8px;
    min-height: initial;
    height: initial;
    background-color: #4e4e4e;
    color: $white;
    box-shadow: none;
  }
  .btn.next {
    padding: 6px 6px 6px 17px;
    > svg {
      transform: rotateY(180deg);
    }
  }
  .btn:hover {
    background-color: $white;
    color: #1a1a1a;
  }
  .btn {
    padding: 5px 17px 5px 6px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    font-family: $main-font-family;
    top: -1px;
    argin-bottom: 0;
    color: $white;
    line-height: 20px;
    margin-right: 10px;
    border-radius: 100px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    &.disabled {
      cursor: not-allowed !important;
      color: rgba(255, 255, 255, 0.1) !important;
      border: 1px solid rgba(255, 255, 255, 0.1);

      &:hover {
        background-color: transparent !important;;
        color: rgba(255, 255, 255, 0.1) !important;
      }
    }
  }
}

.ui-pagination {
  padding: 10px;
  text-align: left;
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    li {
      margin: 10px 0;
      display: inline-block;
      .rotateY180 {
        transform: rotateY(180deg);
      }

      i, input, select {
        border: 1px solid rgb(224, 224, 224);
        background-color: #ffffff;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.870588);
        border-radius: 3px;
        padding: 6px 8px;
      }
      i.pageNumber {
        margin: 0;
        padding: 10px 15px;
        position: relative;
        top: -6px;
      }
      span {
        padding: 0 5px;
        position: relative;
        top: -6px;
        color: #7b7b7b;
      }
      input, select {
        width: 37px;
        height: 37px;
        margin: 0 auto;
        top: -6px;
        position: relative;
        padding: 0px;
        text-align: center;
      }
      input {
        margin-right: 3px;
      }
      select {
        width: 55px;
        padding: 3px;
        option {
          padding: 15px;
          border: 1px solid rgb(224, 224, 224);
        }
      }
    }
    li.active {
      i {
        background-color: $main-color;
        border: 1px solid $main-color;
        color: $white;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
      }
    }
    li.disable {

      i {
        cursor: default;
        background-color: #d3d9dc;
        color: #7b7b7b;
      }

    }
  }
}

