@import "../../../../../configs/css-configuration.scss";

.big-ui-pinput {
  input {
    border: none;
    width: 100%;
    background: transparent;
    font-weight: 700;
    font-size: 77px;
    height: 149px;
    letter-spacing: -1.925px;
    line-height: 65px;
    padding-left: 0 !important;
  }

}